*{
    color: white;
}

body{
    background-color: rgba(134, 133, 133, 0.911);
}

/* hero space TBD with image*/
.hero{
    background-image: url("../images/negative-space-moon-craters.jpg");
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 800px;
    background-color: rgb(10, 10, 10);
}

.hero h1{
    display: flex;
    padding: 0 0 650px 0;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
}

/* opening description */
.description{
    text-align: center;
    margin: 20px;
    font-size: 1.3rem;
    text-shadow: 2px 2px 5px black;
}

/* containers holding all the info */
#all-the-goodies{
    margin-top: 10px;
    margin-right: 5%;
    flex-wrap: flex;
}

/* form container */
.formCont{
    margin-top: 2%;
    margin-left: 5%;
}

form label{
    font-size: 1.3rem;
    text-shadow: 2px 2px 5px black;

}

.form-input{
    display: block;
    width: 80%;
    padding: 5px 0 5px 5px;
    font-size: 14px;
    border-radius: .3rem;
    font-size: 24px;
    color:rgb(10, 10, 10);
}

.sub-btn, .geoBtn{
    margin: 5px 0;
    padding: 6px 5px;
    width: 80%;
    background-color: rgb(34, 34, 36);
}
/* end of form container */

#map{
    height: 600px;
    width: 600px;
}

footer {
    text-size-adjust: 100px;
    

}

@media (max-width: 100px) {
    .hero h1 {
        padding: 0 0 300px 0;
    }
}